node_modules
# Keep environment variables out of version control
.env
coverage
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjYzMDlhMjVhLWE1NWUtNDMyMC1hYTRlLTFlODY4YjRiNjE5ZiIsImlhdCI6MTcyODgyNjYwMSwiZXhwIjoxNzI4OTEzMDAxfQ.gicZC8fw5egvnzPX7-3NCBof5fzZvkKcU_ZIeXiWVC0